* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(32, 32, 32);
  color: rgb(183, 183, 184);
  font-family: Arial, sans-serif;
}

#character-list {
    display: block;
    margin: 20px auto;
}

.character-image {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    width: 300px;        /* tamaño fijo para todas */
    height: 400px;       /* alto fijo */
    object-fit: cover;   /* recorta sin deformar */
    display: block;
    margin: 20px auto;   /* centrado + margen arriba/abajo */
    
}